.page {
    font-family: var(--page-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--main-text-color);

    background-color: var(--primary-bg-color);
}