.btn {
    font-family: var(--page-font);
    cursor: pointer;
    border-style: none;
    border-radius: 4px;
}

.hero__button {
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-bg-color);

    background-color: var(--accent-color);

    transition: background-color var(--anim), box-shadow var(--anim);
    
    &:hover,
    &:focus {
    background-color: var(--btn-hover-focus);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.filters__button {
    padding: 6px 22px;
    font-family: var(--page-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--accent-bg-color);

    transition: color var(--anim), background-color var(--anim), box-shadow var(--anim);
    
    &--current,
    &:hover,
    &:focus {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
}