.social-media {
    display: flex;
    justify-content: center;
}

.social-media__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color var(--anim);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        cursor: pointer;
    }
}

.social-media__link--lightmode {
    color: var(--icon-color);
    background-color: var(--primary-bg-color);

    transition: color var(--anim);

    &:hover,
    &:focus {
        color: var(--primary-bg-color);
    }
}

.social-media__link--darkmode {
    color: var(--primary-bg-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.social-media__item {
    &:not(:last-child) {
    margin-right: 10px;
    }
}

.social-media__icon {
    fill: currentColor;
}