:root {
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --button-color: #ffffff;
  --background-title: #2f303a;
  --background-button: #f5f4fa;
  --button-o: #188ce8;
  --social-icon: #afb1b8;
}
