:root {
    --page-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
    --main-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --btn-hover-focus: #188ce8;
    --footer-color: #2f303a;
    --accent-bg-color: #f5f4fa;
    --primary-bg-color: #ffffff;
    --header-logo-color: #000000;
    --icon-color: #afb1b8;
    --item: 3;
    --indent: 30px;
    --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}