.what-do {
        display: none;

    @media screen and (min-width: 1200px) {
        display: flex;
        padding-bottom: 94px;
    }
}

.what-do__title {
    margin-bottom: 50px;
}

.what-do__list {
    display: flex;
}

.what-do__item {
    position: relative;
    display: block;
    
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.what-do__desc {
    position: absolute;
    bottom: 0;
    left: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-bg-color);

    padding: 27px 82px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}