/*восьмий паршал*/
.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.client {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;

  &__list {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;
    width: 170px;
    height: 92px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    fill: #2196f3;
  }

  &__link:hover {
    border-color: #2196f3;
  }
}
