.clients__title {
    margin-bottom: 30px;
    
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.clients__list {
        --item: 2;

    @media screen and (min-width: 768px) {
        --item: 3;
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    width: 100%;
    height: 92px;
    transition: color var(--anim), border-color var(--anim);

    &:hover,
    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
        cursor: pointer;
    }

    @media screen and (min-width: 768px) {
        width: 226px;
    }

    @media screen and (min-width: 1200px) {
        width: 170px;
    }
}

.clients__logo {
    fill: currentColor;
}