/*сьомий паршал*/
.team {
  background: #f5f4fa;

  &__cards {
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

    margin-bottom: 10px;
  }

  &__processing {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__job {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
  }

  &__soclinks {
    display: flex;
    list-style: none;
  }

  &__logo:not(:last-child) {
    margin-right: 10px;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  fill: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .social__icon,
  &:focus .social__icon {
    fill: white;
  }

  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}
