.team {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--accent-bg-color);
}

.team__title {
        margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.team__list {
        --item: 1;
        
    @media screen and (min-width: 768px) {
        --item: 2;
    }
        
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}